<%= stylesheet_link_tag "food" %>
<%= render "layouts/header" %>
<p style="color: green"><%= notice %></p>

<div class='foodindex-container'>
  <%= link_to "Add food", new_food_path, class: 'add-btn' %>
  <% if @foods.empty? %>
    <p class="text-center"> <i> Your food list is empty </i></p>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <%= render food %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
