<%= stylesheet_link_tag "shopping_list" %>

<%= render "layouts/header" %>

<h2 class="new-food-header">Shopping List</h2>
<div class="foods shopping-list">
  <div class="shopping-list-header">
    <p>Amount of food items to buy: <%= @food_amount %> </p>
    <p>Total value of food needed: $<%= @total_value %></p>
  </div>
  <table class="food-table">
    <thead>
      <tr>
      <th class="food-t-name">Food</th>
      <th class="food-t-name">Quantity</th>
      <th class="food-t-name">Price</th>
      </tr>
    </thead>
    <tbody>
    <% if @food_needed.empty? %>
      <tr>
        <td colspan="3">No food needed</td>
      </tr>
    <% end %>
      <% @food_needed.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %> <%= food.measurement_unit %></td>
          <td>$<%= food.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> 
